RekodInfrastructure/SampleData/WorkSet_SD/WorkSet_SD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.WorkSet_SD" targetNamespace="Expression.Blend.SampleData.WorkSet_SD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WorkSet_SD" type="tns:WorkSet_SD" />
  <xs:complexType name="WorkSet_SD">
    <xs:sequence>
      <xs:element name="WorkSetsMy" type="tns:WorkSetsMy" />
      <xs:element name="CurrentSet" type="tns:CurrentSet" />
      <xs:element name="WorkSetsOther" type="tns:WorkSetsOther" />
      <xs:element name="MessStatus" type="tns:MessStatus" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,3" name="FilterText" type="xs:string" />
    <xs:attribute name="IsEdit" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="WorkSetsMy">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WorkSetsMyItem" type="tns:WorkSetsMyItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkSetsMyItem">
    <xs:attribute name="IsMy" type="xs:boolean" />
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ShowSet" type="xs:boolean" />
    <xs:attribute name="IsNew" type="xs:boolean" />
    <xs:attribute name="IsAccess" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="CurrentSet">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsMy" type="xs:boolean" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ShowSet" type="xs:boolean" />
    <xs:attribute name="IsNew" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="WorkSetsOther">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="WorkSetsOtherItem" type="tns:WorkSetsOtherItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkSetsOtherItem">
    <xs:attribute name="Id" type="xs:double" />
    <xs:attribute name="IsMy" type="xs:boolean" />
    <xs:attribute name="IsNew" type="xs:boolean" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ShowSet" type="xs:boolean" />
    <xs:attribute name="IsAccess" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="MessStatus">
    <xs:attribute name="Text" type="xs:string" />
    <xs:attribute name="Status" type="xs:string" />
  </xs:complexType>
</xs:schema>